{% extends 'base.html' %}

{% block content %}
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for article in articles %}
      <div class="post-preview">
        <a href="{{ article.get_absolute_url }}">
          <h2 class="post-title">
            {{ article.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ article.text|truncatewords:15 }}
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="#">{{ article.author }}</a>
          on {{ article.created }}</p>
        <div class="clearfix">
          <a class="btn btn-danger float-right" href="{% url 'delete_article' pk=article.id %}">Delete</a>
          <a class="btn btn-light float-right mr-3" href="{% url 'update_article' pk=article.id %}">Update</a>
        </div>
      </div>

      <hr>
      {% endfor %}
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="{% url 'create_article' %}">Create new article</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
